PORT=4000
FRONTEND_ORIGIN=http://localhost:3000

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

OPENROUTER_API_KEY=
OPENROUTER_MODEL=meta-llama/llama-3.1-8b-instruct

HUGGINGFACE_API_KEY=
HUGGINGFACE_TTS_MODEL=hexgrad/Kokoro-82M

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
